{% extends 'adminlte/base.html' %}
{% load crispy_forms_filters %}
{% load static i18n crispy_forms_tags %}


{% block page_actions %}
    Tạo Báo Cáo
{% endblock %}

{% block content %}
    <div class="card
{% if nof %}
        card-{{ nof.get_class_hell }}
    {% else %}
        card-primary
{% endif %}

      card-outline">
    <form class="form-horizontal" enctype="multipart/form-data"  method="post" action="{% url 'baocao_create' %}?nof={{ nof.pk }}"> {% csrf_token %}
    <div class="card-body">
        {{ form | crispy }}
    </div>
        <div class="form-group row" id="files-area">
                    <span id="filesList">
                    <span id="files-names"></span>
                    </span>
                </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-block
      {% if nof %}
        bg-gradient-{{ nof.get_class_hell }}
    {% else %}
        bg-gradient-primary
{% endif %}
      {{ nof.get_class_hell }}
      float-right" onclick="rmDis()">Tạo</button>
    </div>
    <!-- /.card-footer -->
  </form>


<script>
function rmDis() {
        document.getElementById("id_nof").disabled = false;
}

</script>
    </div>
    <style>
        #files-area {
            width: 30%;
            margin: 0 auto;
        }

        .file-block {
            border-radius: 2px;
            margin: 5px;
            color: initial;
            display: inline-flex;

        &
        > span.name {
            padding-right: 2px;
            width: max-content;
            display: inline-flex;
        }

        }
        .file-delete {
            display: flex;
            width: 24px;
            color: initial;
            background-color: #6eb4ff00;
            font-size: large;
            justify-content: center;
            margin-right: 3px;
            cursor: pointer;

        &
        :hover {
            background-color: rgba(144, 163, 203, 0.2);
            border-radius: 10px;
        }

        &
        > span {
            transform: rotate(45deg);
        }

        }

    </style>

    {% include "adminlte/datetimepicker.html" %}
    <script>
        mondatetimepicker("#id_thoigian")
    </script>
{% endblock %}
