{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% block breadcrumbs %}
{% endblock %}
{% block content %}
    <div class="card card-danger card-outline">
        <div class="card-header">
            <h3 class="card-title">Chi tiết báo cáo: <b> {{ object.name }} </b></h3>
        </div>
        <div class="card-body" style="display: block;">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Phòng ban</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ object.phongban.name }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Nơi nhận</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ object.noinhan.name }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Thời gian</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ object.thoigian }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {% comment %}

                            <h4>Recent Activity</h4>
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg"
                                         alt="user image">
                                    <span class="username">
<a href="#">Jonathan Burke Jr.</a>
</span>
                                    <span class="description">Shared publicly - 7:45 PM today</span>
                                </div>

                                <p>
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore.
                                </p>
                                <p>
                                    <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1
                                        v2</a>
                                </p>
                            </div>
                            <div class="post clearfix">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg"
                                         alt="User Image">
                                    <span class="username">
<a href="#">Sarah Ross</a>
</span>
                                    <span class="description">Sent you a message - 3 days ago</span>
                                </div>

                                <p>
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore.
                                </p>
                                <p>
                                    <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                                </p>
                            </div>
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg"
                                         alt="user image">
                                    <span class="username">
 <a href="#">Jonathan Burke Jr.</a>
</span>
                                    <span class="description">Shared publicly - 5 days ago</span>
                                </div>

                                <p>
                                    Lorem ipsum represents a long-held tradition for designers,
                                    typographers and the like. Some people hate it and argue for
                                    its demise, but others ignore.
                                </p>
                                <p>
                                    <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1
                                        v1</a>
                                </p>
                            </div>
                            {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                    <h4 class="text-info"><i class="fas fa-paint-brush"></i>
                        Nội Dung
                    </h4>
                    <p class="text-muted">
                        <pre>{{ object.noidung }}</pre>
                    </p>
                    <br>
                    <div class="text-muted">
                        <p class="text-sm">Người duyệt
                            <b class="d-block">{{ object.nguoi_duyet.full_name }}</b>
                        </p>
                        <p class="text-sm">Người ký
                            <b class="d-block">{{ object.nguoi_ky.full_name }}</b>
                        </p>
                        <p class="text-sm">Người soạn
                            <b class="d-block">{{ object.nguoi_soan.full_name }}</b>
                        </p>
                        <p class="text-sm">Người tạo
                            <b class="d-block">{{ object.created_by.full_name }}</b>
                        </p>
                    </div>
                    <h5 class="mt-5 text-muted">File đính kèm:</h5>
                    <ul class="list-unstyled">
                        {% for file in object.mediafile_set.all %}
                            <li>
                                <a href="{{ file.media.url }}" target="_blank" class="btn-link text-secondary">
                                    <i class="far fa-fw fa-file-word"></i>
                                    {{ file.filename }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if object.note %}
                        <div class="text-muted">
                            <p class="text-sm">Ghi chú
                                <pre class="d-block">{{ object.note }}</pre>
                            </p>
                        </div>
                    {% endif %}
                    <div class="text-center mt-5 mb-3">

                        <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#modal-default">
                            {% if object.note %}
                                Sửa ghi chú
                            {% else %}
                                Thêm ghi chú
                            {% endif %}
                        </button>
                    <a href="{% url 'baocao_update' object.pk %}" class="btn btn-sm btn-primary">
                        Sửa báo cáo
                    </a>
                        {% comment %}

                        <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Note</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows="3" name="note"
                              form="add_note_form">{{ object.note }}</textarea>

                </div>
                <div class="modal-footer justify-content-between">
                    <form method="post" action="{% url 'add_note'  object.pk %}" id="add_note_form">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>

                </div>
            </div>

        </div>

    </div>
{% endblock %}