{% extends 'adminlte/base.html' %}
{% block page_actions %}
    Những báo cáo cần hoàn thành.
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-pr">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-bullhorn"></i>
                        Trong 30 ngày tới.
                    </h3>
                </div>

                <div class="card-body">
                    {% for nof in lichbaocao_list %}

                        <div class="callout bg-{{ nof.get_class_hell }} {{ nof.get_class_by_time }}">
                            <h5>
                                {{ nof.get_full_title }}
                            </h5>
                            {% if nof.get_delta_days == 0 or nof.get_delta_days == -1 %}
                                <b>Hoàn thành trong hôm nay: </b>
                            {% else %}
                                <b>(Trong {{ nof.get_delta_days }} ngày tới) </b>
                            {% endif %}
                        <b>{{ nof.duedate }}</b> <br>
                        <br>
                        {% if nof.noidung %}
                            <pre>{{ nof.noidung }}</pre>
                        {% endif %}
                        <a href="{% url 'baocao_create_by_nof' %}?nof={{ nof.pk }}">Click để tạo.</a>
                        </div>
                    {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}