{% extends "adminlte/base.html" %}
{% load crispy_forms_filters %}
{% block page_actions %}
Đổi mật khẩu.
{% endblock %}
{% block content %}

<div class="card card-info card-outline">
  <form class="form-horizontal" method="post" action=".">{% csrf_token %}
  {{ obj }}
    <div class="card-body">
       {{ form | crispy }}

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-block bg-gradient-info float-right">Update</button>
    </div>
    <!-- /.card-footer -->
  </form>
</div>
{% endblock %}