{% extends "adminlte/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="card card-info">
  <div class="card-header">
    <h3 class="card-title">Cập nhật</h3>
  </div>
  <form class="form-horizontal" method="post" action=".">{% csrf_token %}
  {{ obj }}
    <div class="card-body">
        {% for field in form %}
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
        <div class="col-sm-10">
          {{ field }}
        {{ field.errors }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}

        </div>
      </div>
        {% endfor %}

    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-block bg-gradient-info float-right">Update</button>
    </div>
    <!-- /.card-footer -->
  </form>
</div>
{% endblock %}