{% extends 'adminlte/base.html' %}

{% block page_actions %}
Danh sách người dùng
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title"></h3>

                    <div class="card-tools">
                        <form method="get" action=".">
                            <div class="input-group input-group-sm" style="width: 200px;">
                                <div class="input-group-append">
                                    <a href="{% url 'user_create' %}">
                                        <button type="button" class="btn btn-group-sm btn-success btn-sm">
                                            Thêm
                                            <i class="fas fa-plus"> </i>
                                        </button>
                                    </a>
                                </div>
                                </a>
                                <input type="text" name="q" class="form-control float-right"
                                       placeholder="Search">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="card-body table-responsive p-0">
                    {% if user_list.count == 0 %}
                        <div class="card bg-gradient-info">
                            <div class="card-header">
                                <h3 class="card-title">Không có Kết quả: <b>{{ request.GET.q }}</b></h3>
                            </div>

                        </div>
                    {% else %}
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Tên</th>
                                <th>Phòng ban</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in user_list %}


                                <tr>

                                    <td>{{ user.pk }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.full_name }}</td>
                                    <td><span class="tag tag-success">{{ user.phongban.name }}</span></td>
                                    <td>
                                        <a href="{{ user.get_absolute_url }}">
                                            <button type="button" class="btn btn-group-sm btn-info btn-sm">

                                                Detail


                                            </button>
                                        </a>
                                        <a href="{% url 'user_update' user.username %}">
                                            <button type="button" class="btn btn-group-sm btn-success btn-sm">

                                                Update
                                            </button>
                                        </a>
                                        <a href="{% url 'user_change_pass' user.username %}">
                                            <button type="button" class="btn btn-group-sm btn-warning btn-sm">Reset
                                                pass
                                            </button>
                                        </a>
                                        <a href="{% url 'user_delete' user.username %}">
                                            <button type="button" class="btn btn-group-sm btn-danger btn-sm">Delete
                                            </button>
                                        </a>
                                    </td>

                                </tr>

                            {% endfor %}
                            </tbody>

                        </table>
                    {% endif %}
                </div>


            </div>
            <div class="card-tools">
                <ul class="pagination pagination-sm float-right">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">«</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                        </li>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                        <li class="page-item">

                            <a class="page-link"
                                    {% if page_obj.number == page %}
                               href="#"
                                    {% else %}
                               href="?page={{ page }}"
                                    {% endif %}
                            >
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}


                    {% if page_obj.has_next %}
                        <li class="page-item">
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ page_obj.paginator.num_pages }}">next</a></li></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">»</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}