{% extends 'adminlte/base.html' %}
{% load crispy_forms_tags %}
{% block page_actions %}
    Tạo User
{% endblock %}
{% comment %}
{% block style_sheets %}
{{ form.media.css }}
{% endblock %}
{% endcomment %}

{% block content %}
<div class="card card-primary card-outline">
  <form class="form-horizontal"  method="post" action="."> {% csrf_token %}
    <div class="card-body">
        {{ form | crispy }}
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-block bg-gradient-primary float-right">Tạo</button>
    </div>
    <!-- /.card-footer -->
  </form>

</div>
{% endblock %}

{% comment %}
{% block extra_js %}
    {{ form.media.js }}
{% endblock %}
{% endcomment %}